<!doctype html>
<html lang="en" ng-app="phonecatApp">
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css" />
    <script src="lib/angular/angular.min.js"></script>
    
    <script src="lib/app/app.js"></script>
  </head>
  <body >

    <p>Nothing here {{'yet' + '!'}}</p>
    <p>1 + 2 = {{1 + 2}}</p>

    <ul>
        <li>
          <span>Nexus S</span>
          <p>
            Fast just got faster with Nexus S.
          </p>
        </li>
        <li>
          <span>Motorola XOOM™ with Wi-Fi</span>
          <p>
            The Next, Next Generation tablet.
          </p>
        </li>
      </ul>
      
    <div ng-controller="PhoneTestListController">
      <ul >
        <li ng-repeat="phone in phones">
          <span>{{phone.name}}</span>
          <p>{{phone.snippet}}</p>
        </li>
      </ul>
    </div>

    <table>
        <tr><th>Row number</th></tr>
        <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]"><td>{{i+1}}</td></tr>
      </table>
    <div>
        <greet-user></greet-user>
    </div>
    
    <phone-list></phone-list>

  </body>
</html>